---
import MainLayout from '../layouts/MainLayout.astro'
import type { PokemonListResponse } from '../interfaces/pokemon-list.response'
import Title from '@components/shared/Title.astro'
import PokemonCard from '@components/Pokemons/PokemonCard.astro'

const title = 'Pokemon Astro SSG | Home'

const resp = await fetch('https://pokeapi.co/api/v2/pokemon')
const data = (await resp.json()) as PokemonListResponse
---

<MainLayout title={title}>
  <Title>Listado de Pokemons</Title>

  <section
    aria-label='Listado de Pokemons'
    class='grid grid-cols-2 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5'
  >
    {data.results.map(({ name, url }) => <PokemonCard name={name} url={url} />)}
  </section>
</MainLayout>
