---
import { Counter } from '@components/Counter'
import Title from '@components/shared/Title.astro'
import MainLayout from '@layouts/MainLayout.astro'
---

<MainLayout title='Pokemon Astro SSG | Favoritos'>
  <Title>Favoritos</Title>

  <Counter transition:persist='counter' transition:persist-props client:visible initValue={15} />
</MainLayout>
